-
    var workshopList = [
        {
            name: "GSoC Talk",
            image: "../assets/img/techkriti.png",
            desc: '<strong>hello</strong> this is an unscaped description <br/> have fun with standard html tags in pug',
            register: "https://www.google.com",
            perks: ['perk1', 'perk2', 'perk3']
        },
        {
            name: "Quantum Computing",
            image: "../assets/img/techkriti.png",
            desc: `this is a another description of the workshop`,
            register: "https://www.istenith.com",
            perks: []
        }
    ]

center
    each workshop in workshopList
        .box
            .head
                .label=workshop.name 
                img(src=workshop.image, alt="")
            .desc
                p
                    span!=workshop.desc
                    br
                    br
                    if workshop.register
                        a(href=workshop.register target="blank") Click here to Register !
                if workshop.perks && workshop.perks.length > 0
                    .header PERKS
                    img.perks(src="../assets/img/stars.png")
                    p
                        ul(type="dot")
                            each perk in workshop.perks
                                li= perk 
